<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>履歴を見る画面</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<h1>{{ title }}</h1>
	<p>csvダウンロードは、<a href='/static/BodyTemp_data.csv'>こちらから</a></p>
	<table align=left>
		<thead>
			<tr>{%- for i in df_columns %}<th>{{ i }}</th>{%- endfor %}</tr>
		</thead>
		<tbody> <!--trは列--> <!--thは見出しセル（太字中央揃え）--> <!--tdは通常セル-->
			{%- for i in df_values %}
			<tr><th>{{ df_index[loop.index0] }}</th>{% for j in i %}<td>{{ j }}</td>{% endfor %}</tr>
			{%- endfor %}
		</tbody>
	</table>
</body>
</html>